@import "tailwindcss";

@theme {
  --color-pico-bg: #1d2b53;
  --color-pico-text: #c2c3c7;
  --color-pico-header: #ff004d;
  --color-pico-header-text: #fff1e8;
}

body {
  background-color: var(--color-pico-bg);
  color: var(--color-pico-text);
  font-family: monospace;
  margin: 0;
}

.blog-paragraph {
  margin: 20px;
}
